.square {
    width: 400px;
    height: 600px;
    float: left;
}

.title {
    font-size: 30px;
    margin: 20px auto;
}

.game {
    width: 200px;
    height: 400px;
    background: url(../images/cube-bg.png) no-repeat;
    position: relative;
    float: left;
}

.next {
    width: 80px;
    height: 80px;
    background-color: #f2faff;
    position: relative;
    border: 1px solid blue;
    float: left;
    margin-left: 40px;
}

.info {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}

.none,
.current,
.done {
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}

.none {
    background: url(../images/cube-7.png) no-repeat;
}

.current {
    background: url(../images/cube-1.png) no-repeat;
}

.done {
    background: url(../images/cube-6.png) no-repeat;
}